body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black; 
}

.photo img {
  width: 300px; 
  height: auto; 
  padding: 20px;
}

.fanphoto {
  font-style: oblique;
  color: white;
}

.text {
  color: white;
}

.new {
  color: white;
}

.banner img {
  margin-left: -27%;
  margin-top: -20%;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}
