body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.imgur.com/Fo40o3b.jpg"); 
}

.photo img {
  width: 300px; 
  height: auto; 
  padding: 20px;
}

.fanphoto {
  font-style: oblique;
}

.text {
  color: white;
}